app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}

main {
    position: absolute;
    width: 100%;
    top: 3rem;
}

app-sidenav {
    position: fixed;
    left: 0rem;
    width: 58px;
    height: 100vh;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(34, 34, 34, 1);
    border-top: 1px solid white;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}

.app-sidenav-open {
    width: 200px;
}

.display-area {
    position: absolute;
    left: 58px;
    width: calc(100% - 58px);
    height: 100vh;
    transition: left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink {
    width: calc(100% - 200px);
    left: 200px;
}

.custom-input-size {
    width: 200px;
    height: 40px;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.datepicker {
    position: relative;
    display: inline-block;
}

.calendar {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.calendar.show {
    display: block;
}

.calendar .day {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.calendar .day:hover {
    background-color: #ebebeb;
}
.mat-form-field {
    margin-right: 12px;
  }
 
  .mat-chip-row{
    background-color: blue;
  }



